<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - DZMZ Optimizer</title>
    {% else %}
    <title>NRDB Optimizer</title>
    {% endif %}
</head>

<body>
    DEEZ Optimizer:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{url_for('ranking')}}">All Ranks</a>
    <a href="{{url_for('top_5_factions')}}">Top 5 by Faction</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>