{% extends "base.html" %}

{% block content %}
<h1>Which Card is Stronger?</h1>
<table>
    <tr>
        <th>
            <form action={{ url_for('record_vote', cardzero_id=pair[0].id, cardone_id=pair[1].id )}} method="post">
                <button name='result' , type="submit" , value="card0win" , style="background-color:white;border:none">
                    <img src="https://netrunnerdb.com/card_image/large/{{pair[0].nrdb_key}}.jpg" />
                </button>
        </th>
        <th></th>
        <th>
            <button name='result' , type="submit" , value="card1win" , style="background-color:white;border:none">
                <img src="https://netrunnerdb.com/card_image/large/{{pair[1].nrdb_key}}.jpg" />
            </button>
        </th>
    </tr>
    <tr>
        <th><button name='result' , type="submit" , value="card0win">
                {{pair[0].name}}
            </button></th>
        <th><button name='result' , type="submit" , value="tie">
                Tie</button></th>
        <th><button name='result' , type="submit" , value="card1win">
                {{pair[1].name}}</button></th>
        </form>
    </tr>
</table>
{% endblock %}